{%extends "base.html"%} {%load static%}{%block title %}Каталог{%endblock%}
{%block content%}
<link rel="stylesheet" href="{% static 'catalog/css/styles.css' %}" />

<div class="container">
  {%for prod in product%}
  <div class="row">
    <h2>{{prod.name}}</h2>
    {%if prod.image%}
    <img
      src="{{prod.image.url}}"
      alt="{{ prod.name }}"
      style="max-width: 200px"
    />
    {%endif%}
    <h1>{{prod.price}}</h1>
    <h1>{{prod.category.name}}</h1>
    <h1>{{prod.description}}</h1>
    <form method="post" action="">
      <!-- Укажите URL для представления -->
      {% csrf_token %}
      <input type="hidden" name="product_id" value="{{ prod.id }}" />
      <!-- ID товара -->
      <button class="but" type="submit">Купить</button>
    </form>
  </div>
  {%empty %}
  <p>class="no-products"Товар не найден</p>
  {% endfor %}
</div>
{% endblock %}
